<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <form th:method="POST" th:action="@{/cart}">
            <div>
                <label for="namw"> Name: </label>
                <input type="text">
            </div>
            <div></div>
                <label for="quantity">Quantity:</label>
                <input type="number">
            <div>

            </div>
            <div></div>

            <button type="submit"> add </button>
        </form>
    </div>
</body>
</html>