<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <h1>Add Contacts:</h1>

        <form method="POST" th:action="@{/listing}" data-th-object="${contact}">

        <div class="mb-3">
            <label for="name">Name:</label>
            <input type="text" value="name" data-th-field="*{name}"/>
            <span data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" data-th-errorclass="error"> </span>
        </div>

        <div class="mb-3">
            <label for="phone">Phone:</label>
            <input type="number" value="phone" data-th-field="*{phone}">
            <span data-th-if="${#fields.hasErrors('phone')}" data-th-errors="*{phone}" data-th-errorclass="error"> </span>
        </div>

        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" value="email" data-th-field="*{email}">
            <span data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" data-th-errorclass="error"> </span>
        </div>

        <div class="mb-3">
            <label for="birthday">Birthday:</label>
            <input type="date" value="birthday" data-th-field="*{birthday}">
            <span data-th-if="${#fields.hasErrors('birthday')}" data-th-errors="*{birthday}" data-th-errorclass="error"> </span>
        </div>

        <button type="submit">save contact</button>

        </form>
        <div id="list"></div> . 
    </div>
</body>

</html>