.container {
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
}

label {
    display:inline-block;
    width: 9%;
    font-weight: bold;
}

input {
    padding: 5px 10px;
}

button {
    border-radius: 10px;
    background-color: pink;

}